<footer class="site-footer">
  <div class="container">
    <div class="footer-grid">
      <div class="footer-col">
        <h3>BE-TANGO</h3>
        <p>{{FOOTER_TAGLINE}}</p>
        <p>{{FOOTER_DESCRIPTION}}</p>
        <p style="margin-top: 1rem;"><strong>{{PHONE_LABEL}}:</strong> +32 498 39 29 39</p>
      </div>

      <div class="footer-col">
        <h4>{{QUICK_LINKS}}</h4>
        <ul>
          <li><a href="{{ROOT_PATH}}index.html">{{HOME}}</a></li>
          <li><a href="{{ROOT_PATH}}{{TANGO_CLASSES_PATH}}">{{TANGO_CLASSES}}</a></li>
          <li><a href="{{ROOT_PATH}}{{FREE_TRIAL_PATH}}" class="btn btn-primary btn-nav">{{FREE_TRIAL}}</a></li>
          <li><a href="{{ROOT_PATH}}{{BLOG_PATH}}">Blog</a></li>
          <li><a href="{{ROOT_PATH}}{{CONTACT_PATH}}">Contact</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>{{CLASSES}}</h4>
        <ul>
          <li><a href="{{ROOT_PATH}}{{BEGINNERS_PATH}}">{{BEGINNERS}}</a></li>
          <li><a href="{{ROOT_PATH}}{{EXPERIENCED_PATH}}">{{EXPERIENCED}}</a></li>
          <li><a href="{{ROOT_PATH}}{{PRIVATE_PATH}}">{{PRIVATE_LESSONS}}</a></li>
          <li><a href="{{ROOT_PATH}}{{ONLINE_PATH}}">{{ONLINE}}</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>{{LOCATIONS}}</h4>
        <ul>
          <li><a href="{{ROOT_PATH}}{{BRUSSELS_PATH}}">Brussels - Rue du Marais 68</a></li>
          <li><a href="{{ROOT_PATH}}{{WOLUWE_PATH}}">Woluwe - Avenue Orban 54</a></li>
        </ul>
        <div class="social-links">
          <a href="https://www.facebook.com/p/Be-tango-ART-100057312323946/" aria-label="Facebook" class="social-icon" target="_blank" rel="noopener">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
              <path d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; 2026 BE-TANGO. All rights reserved.</p>
      <div class="footer-links">
        <a href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
